extends ./layout.pug
block content
	header
		h1 About
	section.content
		.container
			.row
				.col-sm-6.col-sm-offset-3
					p.lead We are a team of dedicated experts that specialize in design, branding, and development of websites, web and mobile applications.
					p.lead #[a(href="") Let's Get In Touch]
